#!/usr/bin/env python

import sys
import transmissionrpc

port = int(sys.argv[1])
tc = transmissionrpc.Client('localhost', port=9091, user='{{ transmission_rpc_username }}', password='{{ transmission_rpc_password }}')
tc.set_session(peer_port=port)
