---
series:
  - One Punch Man:
      identified_by: sequence
      begin: 12
  - Naruto Shippuuden:
      identified_by: sequence
      begin: 442
  - God Eater:
      identified_by: sequence
      begin: 10
