---
series:
  - Naruto Shippuuden:
      identified_by: sequence
      begin: 444
  - God Eater:
      identified_by: sequence
      begin: 10
  - Mobile Suit Gundam Iron-Blooded Orphans:
      identified_by: sequence
      begin: 1

