---
templates:
  torrent:
    transmission:
      host: {{ transmission_rpc_host }}
      port: {{ transmission_rpc_port }}
      ratio: {{ min_ratio }}
      username: {{ transmission_rpc_username }}
      password: {{ transmission_rpc_password }}
  tv:
    template: torrent
    metainfo_series: yes
    quality: 1080p h264
    emit_series:
      backfill: yes
    exists_series:
      - "{{ transmission_complete_folder }}/{{ series_folder }}"
    include: series.yml
    set:
      path: "{{ transmission_complete_folder }}/{{ series_folder }}/{{ "{{ series_name }}" }}"
      main_file_only: yes
      include_subs: yes
    prowl:
      apikey: "{{ prowl_api_key }}"
      event: "Downloading {{ "{{ series_name }}" }}-{{ "{{ series_id }}" }}"

  anime:
    regexp:
      reject_excluding:
        - HorribleSubs
    template: torrent
    metainfo_series: yes
    quality: 1080p
    emit_series:
      backfill: yes
    exists_series:
      - "{{ transmission_complete_folder }}/{{ anime_folder }}"
    include: animes.yml
    set:
      path: {{ transmission_complete_folder }}/{{ anime_folder }}/{{ "{{ series_name }}" }}
      main_file_only: yes
      content_filename: "{{ "{{ series_name }}" }} - {{ "{{ series_id }}" }}"
    prowl:
      apikey: "{{ prowl_api_key }}"
      event: "Downloading {{ "{{ series_name }}" }}-{{ "{{ series_id }}" }}"

tasks:
  update_series:
    priority: 10
    template: tv
    discover:
      what:
        - emit_series: yes
      from:
        - kat:
            category: tv
            verified: yes
        - rarbg:
            category: HDTV
            sorted_by: seeders

  update_animes:
    priority: 10
    template: anime
    discover:
      what:
        - emit_series: yes
      from:
        - kat:
            category: all
            verified: yes
        - nyaa:
            category: anime eng
            filter: trusted only

  update_series_specials:
    priority: 20
    template: tv
    rss: https://kat.cr/tv/?rss=1

  update_animes_rss:
    priority: 20
    template: anime
    rss: http://www.nyaa.se/?page=rss&cats=1_37

  remove_old_torrents:
    clean_transmission:
      finished_for: 7 days
      min_ratio: {{ min_ratio }}
      host: {{ transmission_rpc_host }}
      port: {{ transmission_rpc_port }}
      username: {{ transmission_rpc_username }}
      password: {{ transmission_rpc_password }}

