---
templates:
  torrent:
    transmission:
      host: {{ transmission_rpc_host }}
      port: {{ transmission_rpc_port }}
      ratio: {{ min_ratio }}
      username: {{ transmission_rpc_username }}
      password: {{ transmission_rpc_password }}
  tv:
    template: torrent
    metainfo_series: yes
    quality: 720p h264
    exists_series:
      - /var/lib/transmission-daemon/complete/Series
    include: series.yml
    set:
      path: {{ transmission_complete_folder }}/{{ series_folder }}/{{ "{{ series_name }}" }}
      main_file_only: yes
      content_filename: "{{ "{{ series_name }}" }} - {{ "{{ series_id }}" }}"
      include_subs: yes

  anime:
    regexp:
      reject_excluding:
        - HorribleSubs
    template: torrent
    metainfo_series: yes
    quality: 720p
    rss: http://www.nyaa.se/?page=rss&cats=1_37
    exists_series:
      - /var/lib/transmission-daemon/complete/Series
    include: animes.yml
    set:
      path: {{ transmission_complete_folder }}/{{ series_folder }}/{{ "{{ series_name }}" }}
      main_file_only: yes
      content_filename: "{{ "{{ series_name }}" }} - {{ "{{ series_id }}" }}"

tasks:
  update_series:
    template: tv
    rss: https://kat.cr/tv/?rss=1
    priority: 10

  update_animes:
    template: anime

  remove_old_torrents:
    clean_transmission:
      finished_for: 7 days
      min_ratio: {{ min_ratio }}
      host: {{ transmission_rpc_host }}
      port: {{ transmission_rpc_port }}
      username: {{ transmission_rpc_username }}
      password: {{ transmission_rpc_password }}
