---
series:
  - The Big Bang Theory:
      identified_by: ep
      begin: S09E12
      propers: 12 hours
  - Family Guy:
      identified_by: ep
      begin: S14E10
      propers: 12 hours
  - Better Call Saul:
      identified_by: ep
      begin: S02E01
      propers: 12 hours
  - Doctor Who:
      identified_by: ep
      begin: S10E01
      propers: 12 hours
  - Fargo:
      identified_by: ep
      begin: S03E01
      propers: 12 hours
  - Game of Thrones:
      identified_by: ep
      begin: S06E01
      propers: 12 hours
  - Gotham:
      identified_by: ep
      begin: S02E12
      propers: 12 hours
  - House of Cards:
      identified_by: ep
      begin: S04E01
      propers: 12 hours
  - Masters of Sex:
      identified_by: ep
      begin: S04E01
      propers: 12 hours
  - Mr Robot:
      identified_by: ep
      begin: S02E01
      propers: 12 hours
  - Person of Interest:
      identified_by: ep
      begin: S05E01
      propers: 12 hours
  - Sherlock:
      identified_by: ep
      begin: S04E01
      propers: 12 hours
  - Supernatural:
      identified_by: ep
      begin: S11E10
      propers: 12 hours
  - True Detective:
      identified_by: ep
      begin: S03E01
      propers: 12 hours
